header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    background-color: #F3E9F1;
    height: 100px;
    align-items: center;
        
}
header img{
    width: 200px;
    
}

#nav-cart {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-right: 20px;
}
#nav-cart i {
    font-size: 1.5em;
    color: #373737;
}
#nav-cart a {
    text-decoration: none;
    color: #373737;
    font-size: 1.2em;
}
#nav-cart a:hover {
    color: purple;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin: auto;
    width: 315px;
    text-decoration: underline;
    color: #373737;
    font-size: 1.5em;
}
#basket {
    width: 65%;
    min-height: 100px;
    height: auto;
    margin: auto;
    margin-top: 50px;
}
#basket-line-1{
   background-color: #707070; 
   padding-top: 10px;
   font-size: 1.1em;
   font-weight: bold;
   color: white;
   border-top: 1px solid black;
}

#basket-line-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#basket-line-2 ul {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    list-style: none;
    padding-top: 10px;
    
}
#basket-line-2 li {
    width: 10%;
}
.fa-trash-alt {
    color: black;
    font-size: 1.1em;
    width: 30px;
}
.icon-trash{
    width: -20px;
    color: blue;
}
#noProduct {
    width : 190px;
    margin: auto;
    margin-top: 15px;
    font-size: 1.4em;
    border: solid red 2px;
    padding: 10px;
}
#bigTotal {
    width: 150px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    border: solid black 1px;
    background-color: #FFA75E;
}

footer {
    display: flex;
    background-color: #F3E9F1;
    margin-top: 8%;
    font-size: 1.5em;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;      
}

footer p {
    color: grey;   
}